* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background: grey;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    width: auto;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    background: blue;
}

.first-section {
    flex-direction: row;
}

.logo {
    flex-direction: row;
    font-size: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.second-section {
    flex-direction: row;
}